.root {
  width: 80%;

  h1 {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  &__wood {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-style: normal;
    font-size: 20px;
    line-height: 36px;

    margin: 10% 0;

    color: #F5F5F5;

    span {
      font-weight: 700;
      font-size: 30px;
      text-transform: uppercase;

      margin: 20px 0;
    }

    li svg {
      width: 20px;
      color: #FFC099;
    }
  }

  @media(max-width: 475px) {
    transition: .8s all ease;
    width: 475px;

    &__list {
      flex-direction: column;
    }

    &__wood {
      margin: 5% 0;
    }
  }
}